# Ignora la carpeta node_modules
node_modules/

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env
.env_test

# Ignora archivos de configuración SASS
.cache

# Ignora el package-lock
package-lock.json

